
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mobile Shop</title>
        <link rel="stylesheet" type="text/css" href="css/form.css">
        <script type="text/javascript" src="js/form.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <!-- reference: Hosted Libraries | Google Developers. (n.d.). Retrieved on October 14, from https://developers.google.com/speed/libraries -->
    </head>