<%- include('_layouts/header1') -%>
<%- include('_layouts/nav') -%>
<%- include('_layouts/sidebar') -%>
	<section>
    	<h1>Hello to next page.</h1>					
	</section>
  </main>
  <%- include('_layouts/footer1') -%>