<%- include('_layouts/header') -%>
    <main>
            <p><img src="images/1.jpg" alt="wc">
        What's 75 million years old and brand spanking new? A teenage Utahceratops! Come to the Saroyan,
                armed with your best dinosaur roar, when Scott Sampson, Research Curator at the Utah Museum 
                of Natural History, steps to the podium. Sampson's research has focused on the ecology and 
                evolution of late Cretaceous dinosaurs and he has conducted fieldwork in a number of countries in Africa.What's 75 million years old and brand spanking new? A teenage Utahceratops! Come to the Saroyan,
                armed with your best dinosaur roar, when Scott Sampson, Research Curator at the Utah Museum 
                of Natural History, steps to the podium. Sampson's research has focused on the ecology and 
                evolution of late Cretaceous dinosaurs and he has conducted fieldwork in a number of countries in Africa.What's 75 million years old and brand spanking new? A teenage Utahceratops! Come to the Saroyan,
                armed with your best dinosaur roar, when Scott Sampson, Research Curator at the Utah Museum 
                of Natural History, steps to the podium. Sampson's research has focused on the ecology and 
                evolution of late Cretaceous dinosaurs and he has conducted fieldwork in a number of countries in Africa.What's 75 million years old and brand spanking new? A teenage Utahceratops! Come to the Saroyan,
                armed with your best dinosaur roar, when Scott Sampson, Research Curator at the Utah Museum 
                of Natural History, steps to the podium. Sampson's research has focused on the ecology and 
                evolution of late Cretaceous dinosaurs and he has conducted fieldwork in a number of countries in Africa.</p>
    </main>
<%- include('_layouts/footer') -%>