<!-- Assignment 2
    Group Member: Kalpana bhatti, Sukhwinder Singh -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mobile Shop</title>
        <link rel="stylesheet" type="text/css" href="/public/css/form.css">
        <script type="text/javascript" src="/public/js/form.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <!-- reference: Hosted Libraries | Google Developers. (n.d.). Retrieved on October 14, from https://developers.google.com/speed/libraries -->
    </head>
    <body>
        <h1>Mobile Shop</h1>
        <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >
            
            <label>Name<span id="mandatory">*</span></label>
            <input id="fullname" placeholder="Full Name" value="Sukhwinder Singh" type="text" name="fullname"><br/>
        
            <label>Email<span id="mandatory">*</span></label>
            <input id="email" placeholder="email@domain.com" value="Sukhi@gmail.com" type="text" name="email"><br/>
        
            <label>Phone<span id="mandatory">*</span></label>
            <input id="phone" placeholder="123-123-1234" value="519-584-5937"  type="text" name="phone"><br/>
    
            <label>Address<span id="mandatory">*</span></label>
            <input id="address" placeholder="Address" value="382, Munich Circle" type="text" name="address"><br/>
    
            <label>City<span id="mandatory">*</span></label>
            <input id="city" placeholder="City" type="text" value="Waterloo"  value="Waterloo" name="city"><br/>
        
            <label>Post Code<span id="mandatory">*</span></label>
            <input id="postcode" placeholder="X9X 9X9" type="text" value="N2B 1N9" name="postcode"><br/>
    
            <label>Province<span id="mandatory">*</span></label>
            <select name="province" id="province">
                <option value="">----- Select -----</option>
                <option value="AB">AB</option>
                <option value="BC">BC</option>
                <option value="MB">MB</option>
                <option value="NB">NB</option>
                <option value="NL">NL</option>
                <option value="NS">NS</option>
                <option value="NT">NT</option>
                <option value="NU">NU</option>
                <option value="ON">ON</option>
                <option value="PE">PE</option>
                <option value="QC">QC</option>
                <option value="SK">SK</option>
                <option value="YT">YT</option>
            </select><br><br>   
    
            <label>Phone Cover</label>
            <input id="cover" placeholder="0" value="1" type="text" name="cover"><br/>
    
            <label>Phone Charger</label>
            <input id="charger" placeholder="0" value="1" type="text" name="charger"><br/>
    
            <label>Airpods</label>
            <input id="airpods" placeholder="0" value="1" type="text" name="airpods"><br/>
            
            <label>Delivery Time<span id="mandatory">*</span></label>
            <select name="deliverytime" id="deliverytime">
                <option value="">----- Select -----</option>
                <option value="40">1 day</option>
                <option value="30">2 days</option>
                <option value="20">3 days</option>
                <option value="10">4 days</option>
            </select>
            <br/><br/>
    
            <input type="submit" value="Place Order">
            <p id="errors"></p>
          </form>  
          
          <div class="formData">
            <p id="formResult">This is where the form data will show up.</p>
          </div>
    </body>
    </html>