body{
    background-color: #ad81d3;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    background-image: url("../images/mobile.jpg");
    background-repeat: no-repeat;
    background-size: 1890px  auto;  
}
#mandatory{
    color: red;
}
h1{
    text-align: center;
    color: white;
}
#errors{
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    border: 2px solid white;
    font-size: 15px;
    display: none;
    line-height: 34px;
    font-style: italic;
    text-align: left;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
form, .formData{
    width: 500px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 10px auto;
    color: white;
    background-color: #34495E;
    border-radius: 20px;
    opacity: 0.9;
}
.formData{
    display: none;
}
#span_left{
    float: left;
}
#span_right{
    float: right;
}
#span_center{
    margin-left: 250px;
}

label{
    width: 200px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
input, select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
select{
    width: 275px;
    height: 40px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #17202A ;
    color: white;
    font-family: 'Kalam', cursive;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px white;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px white;
}