*{
    margin: 0;
    padding:0;
}
body{
    background-color: lightblue;
}
header{
	border-bottom: 3px solid black;
	padding: 1.5em 0 3em 0;
	background: -webkit-linear-gradient(30deg, lightgreen 0%, lightgreen 10%, white 50%, lightgreen 90%, lightgreen 100%);
}
header img {
	float: left;
	padding: 0 30px 0 30px;
}
main img{
    padding-bottom: 1em;
    float: left;
    margin:10px;
}
main p{
    padding-bottom: 1em;
    float: right;
   margin: 20px;
    text-align: center;
}

/* the styles for the footer */
footer{
    clear: both;
    background-color: lightgreen;
    border: 2px solid black;
    
}
footer p{
	text-align: center;
	color: black;
	padding: 1em 0 1em 0;
}