html {
	background-image: url("../images/bats.gif");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
	color: black;
	text-align: center;
	padding: .2em;
}
a:link, a:visited { 
    color:black; 
}
a:hover, a:focus { 
    color: green;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: 15px;
    border-bottom: 2px solid black;   
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
}
/* menu bar */

#nav_menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
#nav_menu ul li{
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}
#nav_menu ul li a, .lastitem{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#nav_menu li a:hover,#nav_menu .dropdown:hover, .lastitem{

	color: orange;
}
#nav_menu li.dropdown{
	display: inline-block;
}
#nav_menu .dropping-content{
	display: none;
	position: absolute;
	background-color: black;
	min-width: 186px;
	z-index: 1;
}
#nav_menu .dropping-content a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
#nav_menu .dropping-content a:hover{
	color: orange;
	background-color: darkslategray;
}
#nav_menu .dropdown:hover .dropping-content{
	display: block;
}









/* Sidebar */
aside {
	float: left; 
	width: 160px;
	padding: 20px 0;
}
aside ul {
	list-style-type: none;
	margin-left: .25em;
	margin-bottom: 1.5em;
}
aside ul li{
	width: 100px;
	height: 35px;
	margin-bottom: .5em;
	border: 2px solid black;
	background-color: orange;
	
 }
aside ul li a{
	display: block;
	padding: .5em,0,.5em,1.5em;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
 
/* Section */
section {
	width: 580px;
	float: right;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}